body{
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.div1
{
    background-color: rgb(161, 205, 240);
    height: 80%;
    width: 35%;
    margin: 20px;
    display: flex;
    justify-content: left;
    border-radius: 15px;
}

.div2{

    background-color: rgb(21, 171, 241);
    height: 100%;
    width: 30%;
    border-radius: 15px 0px 0px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parallel
{
    width: 70%;
    text-align: center;
}

.txtDiv{
text-align: center;

}

.proImg
{
    height: 150px;
    width: 150px;
    margin: 5px;
    border-radius: 100px;
}

h4{
    color: aliceblue;
    font-size: 25px;
}

h5{
    color: aliceblue;
}